
.LeftSideBar-BurgerButton {
    display: flex;
    flex-direction: column;
    padding: 1rem;

 i{
    width: 2.5rem;
    height: .4rem;
    margin:4px;
    background-color: white;
    border-radius: 10px;
    transition: all ease .9s;
}

i:hover{
    cursor: pointer;
}

} 
